<% if @product.variants_and_option_values(current_currency).any? %>
  <div id="product-variants" data-variant-options="<%= @product.variant_options_hash.to_json -%>">
    <h2><%= t('variants') %></h2>
    <% @product.grouped_option_values.each do |type, values| %>
      <div id="<%= dom_id(type) %>" class="variant-options">
        <select data-variant-option-type="<%= type.id %>">
          <option>Choose a <%= type.presentation %></option>
          <% values.sort_by(&:position).each do |value| %>
            <% unless (variants = @product.variants_for_option_value(value)).empty? %>
              <option data-variant-option-value="<%= value.id %>" value="<%= value.presentation %>"><%= value.presentation %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    <% end %>
    <%= hidden_field_tag "variant_id", "", :id => "variant_id", :class => "hidden" %>
  </div>
<% end%>
